In [7]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
df = pd.read_csv("weatherAUS.csv")

In [17]:
df.head(3)
df.shape

(145460, 23)

In [4]:
df.tail(3)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [5]:
nopred = df[pd.notnull(df["RainTomorrow"])]

In [6]:
nopred.tail(3)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No

In [ ]:
lost_percent = 100*(np.array(df.shape[0]) - np.array(nopred.shape[0]))/df.shape[0]
kept_percent = 100-lost_percent

In [ ]:
nopred.to_csv("weather_nopred.csv")

In [8]:
labels = nopred.columns

In [9]:
labelencoder = preprocessing.LabelEncoder()

In [10]:
X = nopred.apply(labelencoder.fit_transform)

In [12]:
X.head(3)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,396,2,213,262,6,356,145,13,21,13,...,71,22,215,232,8,10,223,261,0,0
1,397,2,153,284,0,356,145,14,21,6,...,44,25,244,239,10,10,226,286,0,0
2,398,2,208,290,0,356,145,15,22,13,...,38,30,214,248,10,2,264,275,0,0

In [ ]:
nrows = nopred.shape[0]

In [ ]:
nrows

In [ ]:
round(nrows*0.5) + round(0.4*nrows)

In [ ]:
nopred["Location"]

In [ ]:
nopred.drop(labels = "Location")

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
enc = OneHotEncoder()

In [ ]:
enc.fit(nopred)

In [ ]:
enc.categories_

In [ ]:
trans = enc.transform(nopred)

In [16]:
nopred.loc[:, "Location"]

0         Albury
1         Albury
2         Albury
3         Albury
4         Albury
           ...
145454     Uluru
145455     Uluru
145456     Uluru
145457     Uluru
145458     Uluru
Name: Location, Length: 142193, dtype: object

In [ ]:
cis = enc.inverse_transform(nopred)

In [ ]:
cis

In [ ]:
c